<footer class="text-white pt-3 pb-2" style="background-color: var(--ds-footer-bg);">
  <div class="container">
    <div class="row">
      <!-- Column 1: Contact Us -->
      <div class="col-md-4 mb-3">
        <h5 class="text-start">Contact Us</h5>
        <address class="mb-0 text-start small">
          The Directorate of Tribal Welfare,<br />
          1st Floor, Ezhilagam Annex Building,<br />
          Chepauk, Chennai 600 005<br />
          Phone: 044 - 28516689<br />
          Email: <a href="mailto:dir.dtw@tn.gov.in" class="text-white" aria-label="Email the department">
            dir [dot] dtw [at] tn [dot] gov [dot] in
          </a>
        </address>
      </div>

      <!-- Column 2: More Info -->
      <div class="col-md-4 mb-3">
        <h5 class="text-start">More Info</h5>
        <div class="row">
          <div class="col-6">
            <ul class="list-unstyled text-start">
              <li *ngIf="showAbout"><a routerLink="info/about" class="text-white">About Us</a></li>
              <li *ngIf="showCredits"><a routerLink="info/credits" class="text-white">Contributors</a></li>
              <li *ngIf="showHelp"><a routerLink="info/help" class="text-white">Help</a></li>
              <li><a href="#" class="text-white" (click)="showCookieSettings(); $event.preventDefault()">Cookie Settings</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled text-start">
              <li *ngIf="showPrivacyPolicy"><a routerLink="info/privacy" class="text-white">Privacy Policy</a></li>
              <li *ngIf="showEndUserAgreement"><a routerLink="info/end-user-agreement" class="text-white">End User Agreement</a></li>
              <li *ngIf="showSendFeedback$ | async"><a routerLink="info/feedback" class="text-white">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Column 3: Useful Links -->
      <div class="col-md-4 mb-3">
        <h5 class="text-end">Useful Links</h5>
        <ul class="list-unstyled text-end">
          <li><a href="https://tribal.nic.in" target="_blank" class="text-white">Ministry of Tribal Affairs</a></li>
          <li><a href="https://www.tntribalwelfare.tn.gov.in/" target="_blank" class="text-white">TN Tribal Welfare Department</a></li>
          <li><a href="https://tntrc.org.in/" target="_blank" class="text-white">Tribal Research Centre, Tamil Nadu</a></li>
          <li *ngIf="coarLdnEnabled$ | async">
            <a routerLink="info/coar-notify-support" class="text-white">
              {{ 'footer.link.coar-notify-support' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="bottom-footer bg-secondary text-white text-center py-1 mt-1">
  <small>&copy; Tribal Welfare Department, Government of Tamil Nadu. All rights reserved.</small>
</div>
</footer>


