<footer>
  <div class="container">
    <div class="row">
      <!-- Column 1: Logo -->
      <div class="col-lg-3 col-md-6 mb-3 logo-column">
        <div class="logo-placeholder">
          Logo
        </div>
      </div>

      <!-- Column 2: Contact Us -->
      <div class="col-lg-3 col-md-6 mb-3">
        <h5><span class="first-word">{{ 'footer.contact' | translate }}</span> {{ 'footer.us' | translate }}</h5>
        <address>
          {{ 'footer.address.line1' | translate }}<br />
          {{ 'footer.address.line2' | translate }}<br />
          {{ 'footer.address.line3' | translate }}<br />
          {{ 'footer.phone' | translate }}: 044 - 28516689<br />
          {{ 'footer.email' | translate }}: <a href="mailto:dir.dtw@tn.gov.in" aria-label="Email the department">
            dir [dot] dtw [at] tn [dot] gov [dot] in
          </a>
        </address>
      </div>

      <!-- Column 3: More Info -->
      <div class="col-lg-3 col-md-6 mb-3">
        <h5><span class="first-word">{{ 'footer.more' | translate }}</span> {{ 'footer.info' | translate }}</h5>
        <ul class="list-unstyled">
          <li *ngIf="showHelp"><a routerLink="info/help">{{ 'footer.link.help' | translate }}</a></li>
          <li><a href="#" (click)="showCookieSettings(); $event.preventDefault()">{{ 'footer.link.cookies' | translate }}</a></li>
          <li *ngIf="showPrivacyPolicy"><a routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate }}</a></li>
          <li *ngIf="showEndUserAgreement"><a routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate }}</a></li>
          <li *ngIf="showSendFeedback$ | async"><a routerLink="info/feedback">{{ 'footer.link.feedback' | translate }}</a></li>
        </ul>
      </div>

      <!-- Column 4: Useful Links -->
      <div class="col-lg-3 col-md-6 mb-3">
        <h5><span class="first-word">{{ 'footer.useful' | translate }}</span> {{ 'footer.links' | translate }}</h5>
        <ul class="list-unstyled">
          <li><a href="https://tribal.nic.in" target="_blank">{{ 'footer.ministry-tribal' | translate }}</a></li>
          <li><a href="https://www.tntribalwelfare.tn.gov.in/" target="_blank">{{ 'footer.tribal-welfare' | translate }}</a></li>
          <li><a href="https://tntrc.org.in/" target="_blank">{{ 'footer.tribal-research' | translate }}</a></li>
          <li *ngIf="coarLdnEnabled$ | async">
            <a routerLink="info/coar-notify-support">
              {{ 'footer.link.coar-notify-support' | translate }}
            </a>
          </li>
        </ul>

        <!-- Social Icons - replaced with black PNG images -->
        <div class="social-icons">
          <a href="#" aria-label="Facebook" title="Facebook">
            <img src="assets/custom/images/black_facebook.png" alt="Facebook" />
          </a>
          <a href="#" aria-label="X (formerly Twitter)" title="X (formerly Twitter)">
            <img src="assets/custom/images/black_x.png" alt="X (formerly Twitter)" />
          </a>
          <a href="#" aria-label="YouTube" title="YouTube">
            <img src="assets/custom/images/black_youtube.png" alt="YouTube" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright Section -->
  <div class="bottom-footer">
    <div class="container">
      <small>&copy; {{ 'footer.copyright.text' | translate }}</small>
    </div>
  </div>
</footer>