<!-- ds-home-coar element removed as requested -->
<!-- Custom theme is now active -->
<!-- Top border: Under header, top of carousel -->
<div class="top-border"></div>
<ds-home-news></ds-home-news>
<!-- Bottom border: Under carousel -->
<div class="bottom-border"></div>

<!-- Main Background Section (between carousel and footer) -->
<div class="main-background-section">
  <!-- Browse Categories Section -->
  <section class="browse-categories-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="browse-categories">
            <a routerLink="/browse/author" class="browse-item">
              <img src="assets/custom/images/browse-author.png" alt="Browse by Author" />
              <span>By Author</span>
            </a>
            <a routerLink="/browse/title" class="browse-item">
              <img src="assets/custom/images/browse-title.png" alt="Browse by Title" />
              <span>By Title</span>
            </a>
            <a routerLink="/browse/subject" class="browse-item">
              <img src="assets/custom/images/browse-subject.png" [alt]="'browse.comcol.by.subject' | translate" />
              <span>{{ 'browse.comcol.by.subject' | translate }}</span>
            </a>
            <a routerLink="/browse/language" class="browse-item">
              <img src="assets/custom/images/browse-language.png" [alt]="'browse.comcol.by.language' | translate" />
              <span>{{ 'browse.comcol.by.language' | translate }}</span>
            </a>
            <a routerLink="/browse/media" class="browse-item">
              <img src="assets/custom/images/browse-media.png" [alt]="'browse.comcol.by.media' | translate" />
              <span>{{ 'browse.comcol.by.media' | translate }}</span>
            </a>
            <a routerLink="/browse/linguistictype" class="browse-item">
              <img src="assets/custom/images/browse-linguistic.png" [alt]="'browse.comcol.by.linguistictype' | translate" />
              <span>{{ 'browse.comcol.by.linguistictype' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ds-configuration-search-page *ngIf="showDiscoverFilters"
                              [sideBarWidth]="3"
                              [showViewModes]="false"
                              [searchEnabled]="false"
                              [inPlaceSearch]="false"
                              [showScopeSelector]="false">
  <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
</ds-configuration-search-page>
<div *ngIf="!showDiscoverFilters" class="container">
  <ng-container *ngTemplateOutlet="homeContent"></ng-container>
</div>
<ds-suggestions-popup></ds-suggestions-popup>
</div>
<!-- End of main background section -->

<ng-template #homeContent>
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <ds-search-form [inPlaceSearch]="false"
                         [searchPlaceholder]="'home.search-form.placeholder' | translate">
  </ds-search-form>
  <ds-top-level-community-list></ds-top-level-community-list>
  <!-- Recent Submissions section commented out -->
  <!-- <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list> -->
</ng-template>